---
import App from "components/app.svelte";

import "styles/globals.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>TechsMemo</title>
    </head>

    <body class="bg-slate-950 text-white">
        <App client:visible />
    </body>
</html>
